[Desktop Entry]
Name=Commit
Comment=Commit message editor
Exec=re.sonny.Commit
Terminal=false
Type=Application
Categories=Development;Utility;RevisionControl;TextEditor;GNOME;GTK;
StartupNotify=true
Icon=re.sonny.Commit
Keywords=git;mercurial;hg;scm;
